<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon App</title>
</head>
<body>
    <h1>Welcome to the Pokemon App!</h1>
    <% pokemons.forEach((pokemon) => { %>
        <h2><%= pokemon.PokedexNo %></h2>
        <h3><%= pokemon.Name %></h3>
    <% }) %>
</body>
</html>