<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <h1>List of Trainers</h1>
    <a href="/">Back Home</a>
    <ul>
        <% trainers.forEach((trainer) => { %>
            <li>
                <a href="/oneTrainer/<%= trainer._id %>"><%= trainer.Name %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>