<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <h1>Welcome to the Pokemon App!</h1>
    <div>
        <a href="allMons">View all pokemon.</a>
    </div>
    <div>
        <a href="createMon">Create a pokemon.</a>
    </div>
    <br>
    <div>
        <a href="allTrainers">View all trainers.</a>
    </div>
</body>
</html>